<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="../Home/Home.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="../Dashboard/Dashboard.html">Dashboard</a></li>
          <li><a href="../LiveChat/LiveChat.html">Live Chat</a></li>
          <li><a href="../Contact/Contact.html">Contact</a></li>
          <li><a href="../Login/Login.html">Login</a></li>
          <!-- Thêm liên kết đến trang login.html -->
        </ul>
      </nav>
    </header>

    <div class="container">
      <h2>Welcome to Home Page</h2>
      <p>This is the home page of our web application.</p>
      <p>Feel free to explore other pages using the navigation menu above.</p>
    </div>
  </body>
</html>
