<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Live Chat Page</title>
    <link rel="stylesheet" href="../Home/Home.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="../Dashboard/Dashboard.html">Dashboard</a></li>
          <li><a href="../LiveChat/LiveChat.html">Live Chat</a></li>
          <li><a href="../Contact/Contact.html">Contact</a></li>
          <li><a href="../Login/Login.html">Login</a></li>
        </ul>
      </nav>
    </header>

    <div class="container">
      <h2>Welcome to Live Chat Page</h2>
      <p>This is the live chat page of our web application.</p>
    </div>
  </body>
</html>
